html,
body {
    height: 100%;
}
html {
    font-size: 16px;
}
/* * {
    outline: 1px solid;
} */
img {
    width: 100%;
}

.cabezallogo {
    padding-top: 12px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 6px;
    }

.card {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.descripcion {
    position: absolute; 
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background-color: white;
    z-index: 9;
    opacity: 0.8;
    /* transform: translateY(51%); */
    transition: max-height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    max-height: 80px;
}

.card:hover .descripcion {
    bottom: 0;
    max-height: 1000px;
    /* transform: translateY(0); */
    /* opacity: 0.8; */
}
.masmodal {
	background-color: black;
	color: white;
    display: inline-block;
    font-size: 18px;
	padding: 6px;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	line-height: .5;
	position: absolute;
	right: 12px;
	top: 12px;
}

.container {
    display: grid;
    width: 90%;
    max-width: 1260px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    margin: 30px auto;
}


.titulo {
    padding-bottom: 10px;
}

.bajada h6 {
    font-size: 1.19rem;
    line-height: 1.62;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5c5c;
    padding-bottom: 30px;
    padding-right: 25%;
    letter-spacing: -.5px;
}

.texto {
    color: black;
    width: 100%;
    padding: 12px 10px;
    z-index: 10;
}

h1 {font-family: suecaslabmedium;
    font-size: 2.5rem;
    line-height: 1.15;
    }

h2 {
    font-family: suecaslabbold, sans-serif;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 4px;
    text-transform: none;
    letter-spacing: 0px;
}

h3 {
    font-family: suecaslabmedium, sans-serif;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-top: 2px;
    padding-bottom: 8px;

}

h5 {font-family: arial;
    font-size: 12px;
    line-height: 10px;
    margin-top: 10px;
    margin-bottom: 20px;    
}

p {
    font-family: suecaslabmedium, sans-serif;
    font-size: 17px;
    line-height: 22px;
    padding-top: 6px;
    margin-bottom: 0;
}

b {
    font-family: suecaslabbold, sans-serif;
}

h4 {
    font-family: Arial;
    font-size: 15px;
    color: gray;
    margin: 20px 0;
}

.encabezado {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.container-nota {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-left: 5%;
}

.jquery-modal.blocker.current {
    z-index: 100;
}

/* estilo para mobile */
@media (max-width: 733px) {
    .descripcion {
        position: relative;
        /* transform: translateY(0); */
        opacity: 1;
        width: 100%;
        max-height: none;
    
        
    }

    .texto {
        padding: 15px 0px;
        margin-bottom: 20px;
        /*border-bottom: 0.1px solid black;
        height: 180px; */
    
    }
    .masmodal {
        /*display: none;*/
        right: 0px;
	top: 16px;
    }

    html {
        font-size: 13px;
    }
}